/* Main screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Base styles for icons */
.icon-hover svg {
    transition: stroke 0.3s ease;
}

/* Happy icon hover effect */
#happy-icon:hover svg {
    stroke: green;
}

/* Sad icon hover effect */
#sad-icon:hover svg {
    stroke: red;
}